a,
h1,
h2,
h3,
small {
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100%;

  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================ */

@media screen and (max-width: 1024px) {
  .wrapper {
    .container {
      max-width: 80%;
    }
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================ */

@media screen and (max-width: 600px) {
.wrapper {
    .container {
      max-width: 90%;
    }
  }
}
